:root {
    font-size: 30px;
    --green-0: #8bc0a7;
    --black: black;

    --text: var(--green-0);
    --background-1: black;
}

html,
* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: .1rem;

    color: var(--text);
}

body {
    background-color: var(--black);
}

code {
    display: block;
}

body > section {
    height: 100vh;

    display: grid;
    justify-content: center;
    align-items: center;
}

body > section > article {
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

body > div {
    display: none;
}

@media screen and (max-width: 500px) {
    html,
    * {
        font-size: 1rem;
        line-height: 1.6;
        letter-spacing: .1rem;
    }
    body > section > article {
        gap: .5rem;
    }
}
@media screen and (max-height: 280px) {
    body > section {
        display: none;
    }
    body > div {
        height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    body > div > div {
        height: fit-content;
        border: .3rem solid var(--text);
        border-radius: 50%;
    }
}
@media screen and (max-width: 370px) {
    body > section {
        display: none;
    }
    body > div {
        height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    body > div > div {
        height: fit-content;
        border: .3rem solid var(--text);
        border-radius: 50%;
    }
}