:root {
    font-size: 10px;
    --blue: #d1f3ff;
    --green: #d1ffdd;
    --pink: #ffd1dc;
    
    --blue-brighter: #e5f8ff;
    --green-brighter: #e5ffeb;
    --pink-brighter: #ffe5eb;

    --blue-darker: #a9e9ff;
    --green-darker: #a9ffc1;
    --pink-darker: #ffbdcd;

    --dark-color: #181818;
    --black: black;

    --text: white;

    --default-spacing: 1.5rem;

    --font-size-normal: 1.9rem;
    --font-size-small: 1.5rem;

    /* firefox scrollbar */
    scrollbar-width: 1.5rem;
    scrollbar-color: var(--pink) var(--dark-color);
}

/* chrome scrollbar */
::-webkit-scrollbar {
    width: 1.5rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--pink);
}
::-webkit-scrollbar-track {
    background: var(--dark-color);
}

::selection {
    color: var(--pink);
    background-color: var(--dark-color);
}
::-moz-selection {
    color: var(--pink);
    background-color: var(--dark-color);
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 100;
    src: url('../Karla/static/Karla-ExtraLight.ttf');
}
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 200;
    src: url('../Karla/static/Karla-Light.ttf');
}
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 300;
    src: url('../Karla/static/Karla-Medium.ttf');
}
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('../Karla/static/Karla-Regular.ttf');
}

html, body {
    background-color: var(--black);
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: space-between;
}

html, * {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    scroll-behavior: smooth;

    font-family: 'Karla', 'Calibri Light', 'Calibri', sans-serif;
    font-weight: 200;
    font-size: var(--font-size-normal);
    color: var(--text);
}

h1,
h2 {
    font-weight: 200;
    line-height: 1;
    letter-spacing: .1rem;
    text-align: center;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
    color: var(--pink);
}
a:hover {
    cursor: context-menu;
    color: var(--pink-brighter);
}

#content-wrapper {
    min-height: 100vh;
}

header {
    display: grid;
    align-items: center;

    height: 15rem;
    margin-bottom: calc(2 * var(--default-spacing));

    background-image: url('./media/alps.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header > h1 {
    width: 600px;
    max-width: 92vw;
    padding: var(--default-spacing) var(--default-spacing);
    border: white solid .1rem;
    margin: calc(1.3 * var(--default-spacing)) auto;
    
    font-size: 4rem;
    letter-spacing: 1rem;
    color: white;
}

main {
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    justify-content: center;

    width: 600px;
    max-width: 92vw;
    margin: calc(2 * var(--default-spacing)) auto;

    text-align: center;
}

footer {
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    justify-content: center;

    height: 15rem;
    padding: calc(2 * var(--default-spacing)) 0;

    text-align: center;
    color: white;
    background-color: var(--dark-color);
}

footer > p > a {
    font-size: var(--font-size-small);
}

.projects {
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: center;
    justify-content: center;
    gap: var(--default-spacing);

    width: 600px;
    max-width: 92vw;
}

a.project {
    display: block;

    width: 600px;
    max-width: 92vw;
    padding: var(--default-spacing);
    border: .1rem solid var(--pink-darker);
    margin: .1rem;
}
a.project:hover {
    border: .2rem solid var(--pink-darker);
    margin: 0;
    /* box-shadow: 0 0 var(--default-spacing) calc(var(--default-spacing) / 5) var(--pink); */
}

.title {
    color: var(--pink-darker);
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: var(--default-spacing);
}

.technologies > p {
    color: var(--blue);
}

.technologies > p.emphasize {
    color: var(--green);
}

a.project:hover > .title {
    color: var(--pink-brighter);
    font-weight: 200;
}
a.project:hover > .technologies > p {
    color: var(--blue-brighter);
}
a.project:hover > .technologies > p.emphasize {
    color: var(--green-brighter);
}
